{% extends 'base.html' %}
{% load static %}
{% block title %}
    Cargar carnet
{% endblock %}

{% block content %}
    
    <div class="carnet">
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        

        <form method="post" enctype="multipart/form-data">
            <DIV ALIGN=center><h1>Cargar carnet</h1><DIV ALIGN=center>
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    
                    <td></td>
                    <td><input type="submit" name="submit" value="Registrar" /></td>
                </tr>                
            </table>
        </form>
    </div>

{% endblock content%}






