{% extends 'base.html' %}
{% load static %}
{% block title %}
    Cargar cedula
{% endblock %}


{% block content %}
    
    <div class="carnet">
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Cargar Cedula</h1>

        <form method="post" id="cedulaForm" data-modelos-url="{% url 'ajax_cargar_modelos' %}" novalidate>
            {% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <th>{{ form.num_cedula.label }}</th>
                    <td>{{ form.num_cedula }}</td>
                </tr>
                <tr>
                    <th>{{ form.patente.label }}</th>
                    <td>{{ form.patente }}</td>
                </tr>
                <tr>
                    <th>{{ form.marca.label }}</th>
                    <td>{{ form.marca }}</td>
                </tr>
                <tr>
                    <th>{{ form.modelo.label }}</th>
                    <td>{{ form.modelo }}</td>
                </tr>
                <tr>
                    <th>{{ form.uso.label }}</th>
                    <td>{{ form.uso }}</td>
                </tr>
                <tr>
                    <th>{{ form.num_motor.label }}</th>
                    <td>{{ form.num_motor }}</td>
                </tr>
                <tr>
                    <th>{{ form.num_chasis.label }}</th>
                    <td>{{ form.num_chasis }}</td>
                </tr>
                <tr>
                    <th>{{ form.emision.label }}</th>
                    <td>{{ form.emision }}</td>
                </tr>
                <tr>
                    <th>{{ form.vencimiento.label }}</th>
                    <td>{{ form.vencimiento }}</td>
                </tr>
                <tr>
                    <th>{{ form.seguro.label }}</th>
                    <td>{{ form.seguro }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="Registrar"></td>
                </tr>
            </tbody>
        </table>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    $("#id_marca").change(function () {
        var url = $("#cedulaForm").attr("data-modelos-url");  // get the url of the `load_cities` view
        var marcaId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
            'marca': marcaId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_modelo").html(data);  // replace the contents of the city input with the data that came from the server
        }
        });

    });
    </script>
{% endblock content%}


