{% extends 'base.html' %}
{% load static %}
{% block title %}
    Cargar cedula
{% endblock %}

{% block head %}
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
{% endblock %}

{% block content %}
    
     <div class="carnet">
         {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1>Cargar Cedula</h1>

         <form action="/confirm/" method="post" >
             {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <th>{{ form.num_cedula.label }}</th>
                        <td>{{ form.num_cedula }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.patente.label }}</th>
                        <td>{{ form.patente }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.marca.label }}</th>
                        <td>{{ form.marca }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.modelo.label }}</th>
                        <td>{{ form.modelo }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.uso.label }}</th>
                        <td>{{ form.uso }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.num_motor.label }}</th>
                        <td>{{ form.num_motor }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.num_chasis.label }}</th>
                        <td>{{ form.num_chasis }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.emision.label }}</th>
                        <td>{{ form.emision }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.vencimiento.label }}</th>
                        <td>{{ form.vencimiento }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.seguro.label }}</th>
                        <td>{{ form.seguro }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="submit" value="Registrar"></td>
                    </tr>
                </tbody>
            </table>
         </form>
     </div>
  
{% endblock content%}


