<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos personales</title>
</head>
<body>
    
    <div>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <p>
                <label for="first_name">Nombre: </label>
                <input type="text" name="first_name">
            </p>
            <p>
                <label for="last_name">Apellido: </label>
                <input type="text" name="last_name">
            </p>
            <p>
                <label for="dni">DNI: </label>
                <input type="number" name="dni">
            </p>
            <p>
                <label for="nacimiento">Fecha nacimiento: </label>
                <input type="date" name="nacimiento">
            </p>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>