{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
	
	
	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<DIV ALIGN=center class="logo"> <b><span class="far fa-address-card fa-w-18 fa-5x"></span> </b> <DIV ALIGN=center>
				<h2> <DIV ALIGN=center><b> Carnet digital de Presidencia Roque Saenz Peña</h2></b><DIV ALIGN=center>
				<p> <DIV ALIGN=center><b>Una app creada por changos de SP como proyecto de Informatorio<p> <DIV ALIGN=center></b></DIV>
		</div>
	</section>

	<!-- Wrapper -->
	<section id="wrapper">


	</section>

	
{% endblock content %}
