{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iniciar Sesion</title>
        <link rel="stylesheet" type="text/css" href="../static/login.css">
    </head>
    <body>
        
        <form class="login" action="" method="POST">
            <input type="text" placeholder="Nombre de Usuario">
            <input type="password" placeholder="Contraseña">
            <a href="/register/" class="ml-2">Registrate</a>
            <button>Ingresar</button>
        </form>
        
    </body>
</html>

