<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
{% block content %}
	
	<form class="login" action="{% url 'index' %}" method="POST">
		<center><h2>Login</h2></center>
		{% csrf_token %}
		<input type="text" placeholder="Nombre de Usuario">
		<input type="password" placeholder="Contraseña">
		<a href="{% url 'signup' %}" class="ml-2">Registrate</a>
		<button type="submit">Ingresar</button>
	</form>
	
{% endblock %}
</body>
</html>