{% extends 'base.html' %}
{% load static %}
{% block title %}
    Mostrar Carnet
{% endblock %}

{% block content %}
    
    <link rel="stylesheet" href="{% static 'assets/css/estilo.css' %}" /></noscript>
        {% for c in carnet %} 
        <div class ="container">
            <div class = "carnet-container">
               
                <div class="contenedor">
                    <div class="header">  
                               <center><h2>Registro de Conductor</h2></center>
                               <center><td>Presidencia Roque Saénz Peña</td></center>
                               <br>
                            <td>Apellido: {{c.user.last_name}}</td>                
                            <br>Nombre: {{c.user.first_name}}</br>
                            <td>Fecha de nac: {{c.user.nacimiento}}</td>
                            <br>Nacionalidad: {{c.user.nacionalidad}}</br>
                            <td>Número de carnet : {{c.n_carnet}}</td>
                            <br>Tipo: {{c.tipo_carnet}}</br>
                            <td>Grupo Sanguineo: {{c.grupo_s}}</td>
                            <br>Domicilio: {{c.user.direccion.nombre}} - {{c.user.direccion.numero}} - {{c.user.direccion.piso}} - {{c.user.direccion.altura}}</br>
                    </div>
                     <div class=" datos">   
                        <center><h1>Republica Argentina</h1></center>
                        <div class = "fotin">
                                <img src="{{c.imagen.url}}" alt="Foto del carnet"><!--direccion de la foto de entrada-->

                        </div>
                        <p> </p>
                        <p></p>
                        <div class="abajo-fotin">
                            <td> Donante : {{c.donante}}</td></br>
                            <td class="label">Otorgamiento: {{c.otorgamiento}}</td><br>
                            <td class="resaltado" style="font-weight: 900">Vencimiento: {{c.vencimiento}}</td><br>
                            <td class="resaltado" >DNI: {{c.user.dni}}</td>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
        {% endfor %}
        <div class="volver">
            <center>
                <a href="{% url 'home'  %}">
                    <input type="button" value="Volver">
                </a>
            </center>
        </div>


{% endblock content %}