{% extends 'base.html' %}
{% load static %}
{% block title %}Mostrar Seguro{% endblock title %}
{% block content %}

<div class="table-wrapper">

    <table class="alt" >
        
        <thead style="font-size: 20px;">
            <th>Aseguradora</th>
            <th>Nro de Poliza</th>            
            <th>Telefono</th>
            <th>Telefono de emergencia</th>
        </thead>
            
        <tbody>
        {%for s in seguros%} 
            <tr >
                <h1>
                <a href="/AppCarnet/{{s.id}}">
                <td >{{s.nombre}}</td>
                <td>{{s.num_poliza}}</td>                
                <td>{{s.tel}}</td>
                <td>{{s.tel_emergencia}}</td>
                </a>
                </h1>
            </tr>
        {%endfor%}
        
        
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <ul class="pagination">
                        <li><span class="button small disabled">Previo</span></li>
                        <li><a href="#" class="page active">1</a></li>
                        <li><a href="#" class="page">2</a></li>
                        <li><a href="#" class="page">3</a></li>
                        <li><span>&hellip;</span></li>
                        <li><a href="#" class="page">8</a></li>
                        <li><a href="#" class="page">9</a></li>
                        <li><a href="#" class="page">10</a></li>
                        <li><a href="#" class="button small">Siguiente</a></li>
                    </ul>
                </td>
            </tr>
        </tfoot>            
    </table>
    <div>
        <center>
            <a href="{% url 'seguro'  %}">
                <input type="button" value="Cargar Seguro">
            </a>
        </center>
    </div>
</div>
	

{% endblock %}