{% extends 'base.html' %}
{% load static %}
{% block title %}
    Cargar carnet
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}" /></noscript>
{
<div class ="container-cedula">
    <div class = "cedula-container">
       
        <div class="contenedor-cedula">
            <div class="header-cedula">  
                <div class="superman">
                    <center><h2>Cédula del Automotor</h2></center>
                       <div class= "texto-1">
                            <td > Presidencia   Roque  </td>
                       </div>

                </div>
                       
                        <br>
                    <td>Apellido: {{cedula.user.last_name}}</td>                
                    <br>Nombre: {{cedula.user.first_name}}</br>
                    <td>Fecha de nac: {{cedula.user.nacimiento}}</td>
                    <br>Nacionalidad: {{cedulña.user.nacionalidad}}</br>
                    <td>Domicilio: {{c.user.direccion.nombre}} - {{c.user.direccion.numero}} - {{c.user.direccion.piso}} - {{c.user.direccion.altura}}</td>
                    <br>Número de cédula : {{cedula.num_cedula}}</br>
                    <td>Patente: {{cedula.patente}}</td>
           
            </div>
             <div class=" datos-cedula">  
                 <div class="chapulin">
                    <center><h1>Republica Argentina</h1></center>
                    <div class= "texto-2">
                        <td >Saénz Peña </td>
                       </div>
                 </div> 
                
                       
                
                <div class="abajo-fotin-cedula">
                    
                    <td>Número de Motor: {{cedula.num_motor }}</td>
                     <br >Modelo: {{cedula.modelo}}</br> 
                     <td >Número de Chásis: {{cedula.num_chasis}}</td>
                     <br >Marca: {{cedula.marca}}</br> 
                     <td >Uso: {{cedula.uso}}</td>
                     <br >Emisión: {{cedula.emision}}</br> 
                     <td >Vencimiento: {{cedula.vencimiento}}</td>
                     
                </div>
            </div>
        </div>
    </div>                
</div>
    
<div class="boton">
    <center>
        <button>
            <a href="{% url 'home'  %}">Volver</a>
        </button>
    </center>
</div>
{% endblock content %}
    