{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
    
    
    <form action="" method="post">{% csrf_token %}
        <DIV ALIGN=center><h1>Cargar de datos personales</h1><DIV ALIGN=center>
    <table>
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form }}
        {% endfor %}
    {% else %}
        {{ wizard.form }}
    {% endif %}
    </table>
    {% if wizard.steps.prev %}
    
    <DIV ALIGN=left><button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Anterior" %}</button><DIV ALIGN=left>
    
    {% endif %}
  

    <DIV ALIGN=center>
        <input type="submit" value="{% trans 'siguiente' %}"/> 
        <pre>
    <DIV ALIGN=center>

    </pre>
    <DIV ALIGN=center> <h1>Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</h1><DIV ALIGN=center></DIV>
    </form>
   
{% endblock %}
