{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrate</title>
        <link rel="stylesheet" type="text/css" href="../static/login.css">
    </head>
    <body>
        
        <form class="login" action="" method="POST">
			{% csrf_token %}
            <input type="text" placeholder="Nombre de Usuario">
			
			<input type="text" placeholder="Email">
			
            <input type="password" placeholder="Contraseña">
			
			<input type="password" placeholder="Ingrese Contraseña">
			<a href="/index/" class="ml-2">¿Ya tenes cuenta?</a>
			            
            <button>Registrate</button>
        </form>
        
    </body>
</html>
