<!DOCTYPE html>
<html lang="es">
    <head>    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrate</title>
        <link rel="stylesheet" type="text/css" href="../static/register.css">
    </head>
    <body>
        
        <form class="register" action="/datouser/" method="POST">
			{% csrf_token %}
            <input type="text" placeholder="Nombre de Usuario">
			
			<input type="email" placeholder="Email">
			
            <input type="password" placeholder="Contraseña">
			
			<input type="password" placeholder="Ingrese Contraseña">
			<a href="/login/" class="ml-2">¿Ya tenes cuenta?</a>
            			            
            <button type="submit">Siguiente</button>
        </form>
        
    </body>
</html>
