
{% extends 'base.html' %}
{% load static %}
{% block title %}Seguro{% endblock title %}
{% block content %}    

       
<form id="MiFormulario" name="formulario" action='' method="POST">
  <center><h1>Cargar Seguro</h1></center>
    {% csrf_token %}
  <table>
      <tbody>
          <tr>
              <th>{{ form.nombre.label }}</th>
              <td>{{ form.nombre }}</td>
          </tr>
          <tr>
              <th>{{ form.num_poliza.label }}</th>
              <td>{{ form.num_poliza }}</td>
          </tr>
          <tr>
              <th>{{ form.tel.label }}</th>
              <td>{{ form.tel }}</td>
          </tr>
          <tr>
              <th>{{ form.tel_emergencia.label }}</th>
              <td>{{ form.tel_emergencia }}</td>
          </tr>
          <tr>
              <th>{{ form.tipo_uso.label }}</th>
              <td>{{ form.tipo_uso }}</td>
          </tr>
              <td></td>
              <td>
              <input type="submit" class="button" value="Registrar" >
              </td>
          </tr>
      </tbody>
  </table>
</form>

{% endblock %}
