<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" type="text/css" href="../static/css/signup.css">
</head>
<body>
{% block content %}
    <div class="login">
         <form method="post" class="signup" >
            <h1>Crear usuario</h1>
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% csrf_token %}
             <table>
                {{ form.as_table }}
                 <tr>
                    <td></td>
                    <button type="submit"></button>
                </tr>
             </table>
         </form>
     </div>
{% endblock %}