{% extends 'base.html' %}
{% load static %}
{% block title %}
    Cargar carnet
{% endblock %}

{% block content %}
    
<style>
    .card {
    box-shadow: 0 4px 8px 0;
    transition: 0.3s;
    width: 40%;
    }

    .card:hover {
    box-shadow: 0 8px 16px 0;
    }

    .container {
    padding: 2px 16px;
    }
</style>


<div class="card">
	<form action="{% url 'validated_carnet' %}" method="POST">
		{% csrf_token %}
		<div class="container">
			<h4><b>{{object.user.last_name}} {{object.user.first_name}}</b></h4> 
			<p>Numero de carnet: {{object.n_carnet}}</p>
			<p>DNI: {{object.user.dni}}</p>			
			<p>Fecha de otorgamiento de carnet: {{object.otorgamiento}}</p>
			<p>Numero de vencimiento de carnet: {{object.vencimiento}}</p>
			<p>Tipo de carnet: {{object.tipo_carnet}}</p>
			<p>Grupo Sanguineo: {{object.grupo_s}}</p>
			<p>Direccion: {{object.user.direccion.nombre}} - {{object.user.direccion.numero}} - {{object.user.direccion.altura}}</p>
			<p>Imagen - Frente: <img src="{{object.foto_frente.url}}" alt="Foto del Frente"></p>
			<p>Imagen - Atras: <img src="{{object.foto_atras.url}}" alt="Foto de Atras"></p>      
		  </div>
		  <input type="hidden" value="{{object.id}}" name="carnet_id">
		  <div>
			<input type="submit" value="Validar" name="validar" id="validar_id">
			<input type="submit" value="Rechazar" name="rechazar" id="rechazar_id">
		  </div>
	</form>
  </div>

  

{% endblock content%}


