{% extends 'base.html' %}
{% load static %}
{% block title %}
    Cargar carnet
{% endblock %}

{% block content %}
    
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <center><h1>Validar carnet</h1></center>
    <div class="table-wrapper">
        
        <table class="alt">
            <thead>
                <tr>
                    <th>Apellido y Nombre</th>
                    <th>Numero de Carnet</th>
                    <th>Mas detalle</th>
                </tr>
            </thead>
            <tbody>
                {% for carnet in carnets %}
                {% if carnet.validado == 0 %}
                <tr>
                    <td>{{carnet.user.last_name}} {{carnet.user.first_name}}</td>
                    <td>{{carnet.n_carnet}}</td>
                    <td><a href="{{carnet.id}}">Ver mas</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
            
        </table>
    </div>
    
  

{% endblock content%}