{% extends 'base.html' %}
{% load static %}
{% block title %}¿Olvidaste tu contraseña?{% endblock %}

{% block content %}
<DIV ALIGN=center> <h1>¿Olvidaste tu contraseña?</h1><DIV ALIGN=center></DIV>
<pre>

</pre>
  <DIV ALIGN=center><p style="color:#FFFFFF";>Ingresa tu correo electronico y te mandaremos las instrucciones para reestablecer tu contraseña.</p><DIV ALIGN=center>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar">
  </form>
{% endblock %}